<form id="form">
    <input class="log-input" type="file" id="log_input" name="log_input" accept=".csv" />
    <label class="log-input-label" for="log_input">
        <i class="fas fa-folder-open"></i>
        <span>Upload your log</span>
    </label>    
    <h2>or</h2>
    <button type="button" id="example">See an example</button>
</form>
