<form>
    <input class="log-input" type="file" id="log_input" name="log_input" accept=".csv" />
    <label for="log_input">
        <i class="fas fa-folder-open"></i>
        <span>Upload CSV</span>
    </label>    
</form>
