<div class="step first-step">
    <h1>Download and install <a href="https://www.hwinfo.com/" target="_blank">HWInfo</a></h1>
</div>

<div class="step second-step">
    <h1>Generate a <a href="./log_guide" target="_blank">log</a></h1>
</div>

<div class="step third-step">
    {% include "partials/_form.njk" %}
</div>