<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log Viewer</title>
</head>
<body>
  <form>
    <input type="file" id="log_input" name="log_input">
    <button id="form_btn" type="button" >Send File!</button>
  </form>  

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>
