<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Alata&family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/guide.css" />
        <title>HWInfo Log Guide</title>
    </head>
    <body>
        <h1>How to generate a log in HWInfo</h1>

        <p>When you run HWInfo, this small window will appear. Check the option "Sensors-only" and then click "Run".</p>

        <img src="images/initial_screen.png">

        <p>In the bottom bar, you will see a sheet with a green "+" symbol. Click on it, name the log and choose the location where you want to store it.</p>

        <img src="images/sensor_status.png">

        <p>From now on, the data we need will be stored in the log. When you want to finish the log, just click on the same place as before, the sheet that will now have a red X.</p>

        <p>Now just load the log into LogCharts for the line graph to be generated.</p>
    </body>
</html>