@import "font-awesome/scss/fontawesome.scss";
@import "font-awesome/scss/solid.scss";
@import "partials/form";
@import "partials/header";

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Alata", Helvetica, Arial, sans-serif;
}
