@import "font-awesome/scss/fontawesome.scss";
@import "font-awesome/scss/solid.scss";
@import "partials/form";
@import "partials/header";

html {
  width: 100vw;
  height: 100vh;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Alata", Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
