.field-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 10%;
  margin: 1rem 0 1rem 1rem;
}

.field-container-title {
  margin: 0px;
  padding: 5px;
  background-color: $primary;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  border-radius: $default-border-radius;
}

.repo-btn-container {
  margin-top: auto;
}

.repo-btn {
  align-items: center;
  background-color: #07132c;
  border-radius: $default-border-radius;
  border-style: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  justify-content: left;
  padding: 5px;
  width: 100%;

  &:first-of-type {
    margin-bottom: 0.25rem;
  }
}

.repo-btn > span {
  margin-right: 0.25rem;
}

.repo-btn-link {
  text-decoration: none;
}

.btn-container {
  margin-bottom: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.field-btn {
  transition: 0.1s;
  background-color: white;
  color: #041219;
  border: 0px;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  cursor: pointer;

  &:hover {
    background-color: $hover;
    color: white;
  }

  &:focus {
    background-color: $focus;
    color: white !important;
    font-weight: 900;
  }
}

.field-search-container {
  display: flex;
  background: white;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  border-radius: $default-border-radius $default-border-radius 0 0;
  margin: 0.5rem 0 0 0;
  border-bottom: 2px solid #f7f7f7;
}

.field-search-input {
  width: 100%;
  border: 2px solid grey;
  margin: 0.25rem;
  border-radius: $default-border-radius;
  border-style: none;
  outline: none;
}
