.chart-container {
  display: flex;
  flex-flow: column;
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
}

svg {
  background-color: white;
}

.context-svg {
  margin-top: 2px;
  flex-grow: 1;
  border-radius: 0 0 0.5rem 0.5rem;
}

/*
    Except when we have just one tick
    All ticks but the first one appears on the screen
    This way we prevent the first tick from 
    touching the domain line in x-axis
    It's just aesthetics
    And when we have just one tick it doesn't appear for the same reason
    It woulnd't touch the domain line but the chart line
*/

.y-axis {
  font-size: 0.7em;
  .tick {
    line {
      opacity: 0.13;
    }

    &:first-of-type {
      line {
        opacity: 0;
      }
    }
  }

  //Invisible domain in y-axis
  .domain {
    opacity: 0;
  }
}

.x-axis {
  font-size: 0.7em;
}

/*
  Except when we have just one grid line
  All grid lines but the first one appears on the screen
  Same way as the y-axis
*/

.grid {
  .tick {
    opacity: 0.13;

    &:first-of-type {
      opacity: 0;
    }
  }
}

.handle {
  y: 28;
  height: 30px;
  width: 10px;
  box-sizing: border-box;
  fill: white;
  stroke: black;
  stroke-width: 1.5;
  stroke-linejoin: round;
}

.tooltip-background {
  fill: white;
  opacity: 0.7;
}

.tooltip-background-stroke {
  stroke: #000;
  stroke-width: 1.5px;
  stroke-linecap: round;
  fill: transparent;
}

.tooltip {
  font-family: 'Source Sans Pro', sans-serif;
}
