.form-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-alert {
  background-color: red;
  color: var(--light-font-color);
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px;
  margin: 40px;
}

.log-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row;

  button {
    transition-duration: 0.4s;
    width: fit-content;
    margin: 30px;
    padding: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--primary);
  }

  button:hover {
    background-color: var(--primary);
    color: var(--light-font-color);
  }
}

.log-input-label {
  display: flex;
  margin: 30px;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  background-color: var(--primary);
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--light-font-color);
  font-size: 1.25em;
  font-weight: 600;

  .upload-icon {
    margin-right: 0.5rem;
  }

  &:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
  }
}
