.step {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary);

  a {
    text-decoration: none;
    color: var(--light-font-color);
  }
}

.first-step {
  background-color: #8ad5e5;
}

.second-step {
  background-color: #9bdbe9;
}

.third-step {
  flex-flow: column;
  background-color: #abe1ed;
}

.author-info {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  height: 1%;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  width: 100%;

  .separator {
    margin: 0 0.5rem;
  }

  & > div span {
    margin-right: 0.5rem;
  }
}
