.header {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  font-family: 'Alata', Helvetica, Arial, sans-serif;

  h1 {
    font-size: 3.2em;
    color: var(--light-font-color);
    padding: 15px;
    margin: 0px;
  }
}
