.line-container {
  display: flex;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 50px 20px 0px 20px;
  border-bottom: 2px solid #f7f7f7;
}

.add-line-btn {
  color: #4e7bff;
  background-color: white;
  border: 0px;
  text-decoration: none;
  padding: 5px;
  margin: 2px;
  height: auto;
}

.line-btn-container {
  display: flex;
  flex-wrap: wrap;
}

.line-btn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;

  &:hover > .pickr {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.line-selector {
  input {
    margin: 5px;
  }
}
