.stats-container {
  display: flex;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 0.5rem;
}

.stats {
  border-right: 0.125rem solid #f7f7f7;
  &:last-of-type {
    border: 0;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-grow: 1;
  padding: 0.5rem;
}

.stats-title {
  margin: 0;
  color: #a9a9a9;
}

.stats-value {
  margin: 0;
}
