.header {
  display: flex;
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #07132c;
  justify-content: center;
  align-items: center;
  font-family: "Alata", Helvetica, Arial, sans-serif;
}
.header h1 {
  font-size: 3.2em;
  color: white;
  padding: 15px;
  margin: 0px;
}

.field-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
}

.field-container-title {
  margin: 0px;
  padding: 5px;
  background-color: #07132c;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
}

.btn-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.field-btn {
  transition: 0.1s;
  background-color: white;
  color: #041219;
  border: 0px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.field-btn:hover {
  background-color: #fa7921;
  color: white;
}
.field-btn:focus {
  background-color: #119da4;
  color: white !important;
  font-weight: 900;
}

.chart-container {
  display: flex;
  flex-flow: column;
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
}

svg {
  background-color: white;
}

.context-svg {
  margin-top: 2px;
  flex-grow: 1;
  border-radius: 0 0 0.5rem 0.5rem;
}

/*
    Except when we have just one tick
    All ticks but the first one appears on the screen
    This way we prevent the first tick from 
    touching the domain line in x-axis
    It's just aesthetics
    And when we have just one tick it doesn't appear for the same reason
    It woulnd't touch the domain line but the chart line
*/
.y-axis {
  font-size: 0.7em;
}
.y-axis .tick line {
  opacity: 0.13;
}
.y-axis .tick:first-of-type line {
  opacity: 0;
}
.y-axis .domain {
  opacity: 0;
}

.x-axis {
  font-size: 0.7em;
}

/*
  Except when we have just one grid line
  All grid lines but the first one appears on the screen
  Same way as the y-axis
*/
.grid .tick {
  opacity: 0.13;
}
.grid .tick:first-of-type {
  opacity: 0;
}

.handle {
  y: 28;
  height: 30px;
  width: 10px;
  box-sizing: border-box;
  fill: white;
  stroke: black;
  stroke-width: 1.5;
  stroke-linejoin: round;
}

.tooltip-background {
  fill: white;
  opacity: 0.7;
}

.tooltip-background-stroke {
  stroke: #000;
  stroke-width: 1.5px;
  stroke-linecap: round;
  fill: transparent;
}

.tooltip {
  font-family: "Source Sans Pro", sans-serif;
}

.stats-container {
  display: flex;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 0.5rem;
}

.stats {
  border-right: 0.125rem solid #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-grow: 1;
  padding: 0.5rem;
}
.stats:last-of-type {
  border: 0;
}

.stats-title {
  margin: 0;
  color: #a9a9a9;
}

.stats-value {
  margin: 0;
}

.report-container {
  background-color: #f7f7f7;
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 1rem;
}

.form-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-alert {
  background-color: red;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  margin: 40px;
}

.log-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row;
}
form button {
  transition-duration: 0.4s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px;
  padding: 8px;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #07132c;
}
form button:hover {
  background-color: #07132c;
  color: white;
}

.log-input-label {
  display: flex;
  margin: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #07132c;
  padding: 15px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 1.25em;
  font-weight: 600;
}
.log-input-label .upload-icon {
  margin-right: 0.5rem;
}
.log-input-label:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
}

.loader-wrapper {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  position: absolute;
  left: 0;
  top: 100px;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  margin-top: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #07132c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.step {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #07132c;
}
.step a {
  text-decoration: none;
  color: white;
}

.first-step {
  background-color: #8ad5e5;
}

.second-step {
  background-color: #9bdbe9;
}

.third-step {
  flex-flow: column;
  background-color: #abe1ed;
}

.selector-container {
  display: flex;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 1rem;
  border-bottom: 2px solid #f7f7f7;
  border-radius: 0.5rem 0.5rem 0 0;
}

.add-selector-btn {
  display: flex;
  color: #4e7bff;
  background-color: white;
  border: 0px;
  text-decoration: none;
  padding: 5px;
  margin: 2px;
  height: auto;
  cursor: pointer;
}

.selector-btn-container {
  display: flex;
  flex-wrap: wrap;
}

.selector-div {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
}
.selector-div:hover > .pickr {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selector-btn input {
  margin: 5px;
}

.pickr {
  display: none;
  height: 40px;
  margin: auto;
  position: absolute;
  top: -60px;
  left: 0;
  bottom: 0;
  right: -21px;
}
.pickr i {
  color: #07132c;
  padding: 0.5em;
  cursor: pointer;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  overflow: hidden;
  height: 100%;
  background-color: #f7f7f7;
}

.aligned {
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */