:root {
  --background: #f7f7f7;
  --light-background: white;

  --light-font-color: white;
  --dark-font-color: #041219;
  --secondary-font-color: #a9a9a9;

  --border-color: #f7f7f7;

  --primary: #07132c;
  --focus: #119da4ff;
  --hover: #fa7921ff;
  --default-border-radius: 6px;

  --chart-axis-color: black;
}

@import 'partials/header';
@import 'partials/btn-container';
@import 'partials/chart-container';
@import 'partials/stats-container';
@import 'partials/report-container';
@import 'partials/form-container';
@import 'partials/loading';
@import 'partials/guide';
@import 'partials/selector-container';
@import 'partials/color-picker';

html {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.aligned {
  justify-content: center;
  align-items: center;
}
