:root {
  --background: #f7f7f7;
  --light-background: white;
  --light-font-color: white;
  --dark-font-color: #041219;
  --secondary-font-color: #a9a9a9;
  --border-color: #f7f7f7;
  --primary: #07132c;
  --primary-hover: #112d6a;
  --focus: #119da4ff;
  --hover: #fa7921ff;
  --chart-axis-color: black;
  --scrollbar-thumb-color: #e0e0e0;
  --scrollbar-thumb-div-hover-color: #cccccc;
  --scrollbar-thumb-hover-color: #adadad;
  --default-border-radius: 6px;
}

.header {
  display: flex;
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  font-family: "Alata", Helvetica, Arial, sans-serif;
}
.header h1 {
  font-size: 3.2em;
  color: var(--light-font-color);
  padding: 15px;
  margin: 0px;
}

.field-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 10%;
  margin: 1rem 0 1rem 1rem;
}

.field-container-title {
  margin: 0px;
  padding: 5px;
  background-color: var(--primary);
  color: var(--light-font-color);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  border-radius: var(--default-border-radius);
}

.repo-btn-container {
  margin-top: auto;
}
.repo-btn-container:last-child > button {
  margin: 0;
}
.repo-btn-container button:hover {
  background: var(--primary-hover);
  transition: 0.25s;
}

.repo-btn {
  align-items: center;
  background-color: var(--primary);
  border-radius: var(--default-border-radius);
  border-style: none;
  color: var(--light-font-color);
  cursor: pointer;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  justify-content: left;
  padding: 5px;
  width: 100%;
  margin-bottom: 0.25rem;
}
.repo-btn > span {
  margin-right: 0.25rem;
}

.repo-btn-link {
  text-decoration: none;
}

.btn-container {
  margin-bottom: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--dark-font-color);
}

.field-btn {
  transition: 0.1s;
  background-color: var(--light-background);
  color: var(--dark-font-color);
  border: 0px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.field-btn:hover {
  background-color: var(--hover);
  color: var(--light-font-color);
}
.field-btn:focus {
  background-color: var(--focus);
  color: white !important;
  font-weight: 900;
}

.field-search-container {
  display: flex;
  background: var(--light-background);
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
  margin: 0.5rem 0 0 0;
  border-bottom: 2px solid var(--border-color);
}

.field-search-icon {
  color: var(--dark-font-color);
}

.field-search-input {
  color: var(--dark-font-color);
  width: 100%;
  border: 2px solid var(--border-color);
  margin: 0.25rem;
  border-radius: var(--default-border-radius);
  border-style: none;
  outline: none;
  background-color: var(--light-background);
}

.chart-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

svg {
  background-color: var(--light-background);
}

.context-svg {
  margin-top: 2px;
  flex-grow: 1;
  border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
}

/*
    Except when we have just one tick
    All ticks but the first one appears on the screen
    This way we prevent the first tick from 
    touching the domain line in x-axis
    It's just aesthetics
    And when we have just one tick it doesn't appear for the same reason
    It woulnd't touch the domain line but the chart line
*/
.y-axis {
  color: var(--chart-axis-color);
  font-size: 0.7em;
}
.y-axis .tick line {
  opacity: 0.13;
}
.y-axis .tick:first-of-type line {
  opacity: 0;
}
.y-axis .domain {
  opacity: 0;
}

.x-axis {
  font-size: 0.7em;
  color: var(--chart-axis-color);
}

/*
  Except when we have just one grid line
  All grid lines but the first one appears on the screen
  Same way as the y-axis
*/
.grid {
  color: var(--chart-axis-color);
}
.grid .tick {
  opacity: 0.13;
}
.grid .tick:first-of-type {
  opacity: 0;
}

.handle {
  y: 28;
  height: 30px;
  width: 10px;
  box-sizing: border-box;
  fill: white;
  stroke: black;
  stroke-width: 1.5;
  stroke-linejoin: round;
}

.tooltip-background {
  fill: white;
  opacity: 0.7;
}

.tooltip-background-stroke {
  stroke: #000;
  stroke-width: 1.5px;
  stroke-linecap: round;
  fill: transparent;
}

.tooltip {
  font-family: "Source Sans Pro", sans-serif;
}

.stats-container {
  display: flex;
  background-color: var(--light-background);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: var(--default-border-radius);
}

.stats {
  border-right: 0.125rem solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-grow: 1;
  padding: 0.5rem;
}
.stats:last-of-type {
  border: 0;
}

.stats-title {
  margin: 0;
  color: var(--secondary-font-color);
}

.stats-value {
  color: var(--dark-font-color);
  margin: 0;
}

.report-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 1rem;
}

.form-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-alert {
  background-color: red;
  color: var(--light-font-color);
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  margin: 40px;
}

.log-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row;
}
form button {
  transition-duration: 0.4s;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px;
  padding: 8px;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--primary);
}
form button:hover {
  background-color: var(--primary);
  color: var(--light-font-color);
}

.log-input-label {
  display: flex;
  margin: 30px;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  background-color: var(--primary);
  padding: 15px;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--light-font-color);
  font-size: 1.25em;
  font-weight: 600;
}
.log-input-label .upload-icon {
  margin-right: 0.5rem;
}
.log-input-label:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
}

.loader-wrapper {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  position: absolute;
  left: 0;
  top: 100px;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  margin-top: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.step {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  height: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary);
}
.step a {
  text-decoration: none;
  color: var(--light-font-color);
}

.first-step {
  background-color: #8ad5e5;
}

.second-step {
  background-color: #9bdbe9;
}

.third-step {
  flex-flow: column;
  background-color: #abe1ed;
}

.selector-container {
  display: flex;
  background-color: var(--light-background);
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 1rem;
  border-bottom: 2px solid var(--border-color);
  border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
}

.add-selector-btn {
  display: flex;
  color: #4e7bff;
  background-color: var(--light-background);
  border: 0px;
  text-decoration: none;
  padding: 5px;
  margin: 2px;
  height: auto;
  cursor: pointer;
}

.selector-btn-container {
  display: flex;
  flex-wrap: wrap;
}

.selector-div {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  color: var(--dark-font-color);
}
.selector-div:hover > .pickr {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selector-btn input {
  margin: 5px;
}

.pickr {
  display: none;
  height: 40px;
  margin: auto;
  position: absolute;
  top: -60px;
  left: 0;
  bottom: 0;
  right: -21px;
}
.pickr i {
  color: var(--primary);
  padding: 0.5em;
  cursor: pointer;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.aligned {
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

div:hover::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-div-hover-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color) !important;
}

[data-theme=dark] {
  --background: #121212;
  --light-background: #1f1f1f;
  --light-font-color: white;
  --dark-font-color: white;
  --primary: #1f1f1f;
  --primary-hover: #3d3d3d;
  --border-color: #121212;
  --chart-axis-color: white;
  --scrollbar-thumb-color: #3d3d3d;
  --scrollbar-thumb-div-hover-color: #525252;
  --scrollbar-thumb-hover-color: #707070;
}/*# sourceMappingURL=main.css.map */