:root {
  --background: #f7f7f7;
  --light-background: white;

  --light-font-color: white;
  --dark-font-color: #041219;
  --secondary-font-color: #757575;

  --border-color: #f7f7f7;

  --primary: #07132c;
  --primary-hover: #112d6a;
  --focus: #119da4ff;
  --hover: #fa7921ff;

  --chart-axis-color: black;

  --scrollbar-thumb-color: #e0e0e0;
  --scrollbar-thumb-div-hover-color: #cccccc;
  --scrollbar-thumb-hover-color: #adadad;

  --default-border-radius: 6px;
}

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'partials/header';
@import 'partials/btn-container';
@import 'partials/chart-container';
@import 'partials/stats-container';
@import 'partials/report-container';
@import 'partials/form-container';
@import 'partials/loading';
@import 'partials/guide';
@import 'partials/selector-container';
@import 'partials/color-picker';

html {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.aligned {
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

div:hover::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-div-hover-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color) !important;
}

[data-theme='dark'] {
  --background: #121212;
  --light-background: #1f1f1f;

  --light-font-color: white;
  --dark-font-color: white;
  --secondary-font-color: #878787;

  --primary: #1f1f1f;
  --primary-hover: #3d3d3d;
  --border-color: #121212;
  --chart-axis-color: white;

  --scrollbar-thumb-color: #3d3d3d;
  --scrollbar-thumb-div-hover-color: #525252;
  --scrollbar-thumb-hover-color: #707070;
}

.bi {
  font-size: 1.25rem;
}
